<div style="margin-top: 150px;"></div>
<div class="col-xs-12">
  <section class="content-header">
    <h1 class="center">Squad Members</h1>
    <br>
  </section>
  <p class="center">We won't text them until you set up an IOU</p>
</div>

<div class="col-xs-12 scroll">
  <div class="box box-info">
    <!-- /.box-header -->
    <!-- form start -->
    <%= simple_form_for @user, url: registration_path(@user), method: :patch, html: {class: "form-horizontal"} do |f| %>
      <%= f.input :next_path, :as => :hidden, :input_html => { :value => hi_account_index_path } %>

      <%= f.simple_fields_for :friends, f.object.friends.new do |p| %>
        <%= render 'friend', p: p %>
        <div class="links center input-margin">
          <%= link_to_add_association 'Add Friend', f, :friends, class: "btn btn-primary"%>
        </div>
        <!-- /.box-body -->
        <div class="box-footer center">
          <a href="#" class="btn btn-default">back</a>
          <button type="submit" class="btn btn-info pull-right">Next</button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
